
body { margin: 0; height: 100%; overflow: hidden;}

#canva3D {
    position: absolute;
    top: 0;
    left: 0;
}

#sideDiv {
    height: 100%;
    width: 100%;
    position: absolute;
    margin-left: 40%;
    background-color: red;
    z-index: 1;
}